:root {
  --color-light: #fdfdfd;
  --color-light-alt: #fff;
  --color-accent: #1a3e3e;
  --color-yellow: #f2be22;
  --color-yellow-light: #f3f1e1;
  --color-dark: #18121e;
  --color-dark-ligtht: #f3f5f4;
  --color-green-ligtht: #e5eeeb;
  --color-blue-ligtht: #e3e6ee;

  --rgb: rgba(255, 255, 255, 0.2);
  --blur: 6px;

  --border-radius-small: 4px;
  --border-radius-small-2: 6px;
  --border-radius: 10px;
  --border-radius-mid: 8px;
  --border-radius-large: 24px;
  --border-radius-large-alt: 32px;

  --input-height: 52px;
  --button-height: 44px;

  --transition-duration: 0.2s;

  --font-family-base: "Nunito Sans", sans-serif;
  --font-family-second: "NEXT ART", sans-serif;

  --container-width: 1180px;
  --container-padding-x: 16px;

  --section-padding-y: 50px;
}
