.button {
  @include reset-button;
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 24px;
  background-color: var(--color-accent);
  color: var(--color-light);
  line-height: 1.25;
  letter-spacing: 0.01em;
  font-size: 16px;
  border-radius: var(--border-radius-small);
  border: 1px solid transparent;

  @include hover {
    background-color: var(--color-light);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }

  &--transparent {
    height: var(--input-height);
    background-color: var(--color-light);
    color: var(--color-accent);
    padding-inline: 36px;
    font-weight: 700;

    @include hover {
      background-color: var(--color-accent);
      color: var(--color-light);
      border: 1px solid var(--color-light);
    }
  }
}
