.content {
  display: flex;
  flex-direction: column;
  max-width: 566px;

  &__subtitle {
    line-height: 0.83333;
    color: var(--color-yellow);
    margin-bottom: 8px;
  }

  &__title {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__button {
    align-self: flex-start;

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      align-self: center;
    }
  }

  &__list {
    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.1;
      letter-spacing: 0.01em;
      margin-bottom: 4px;
      color: var(--color-dark);
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    padding-left: 66px;

    @include tablet {
      margin-bottom: 32px;
    }

    &::before {
      @include square(50px);
      position: absolute;
      content: "";
      left: 0;
      top: 7px;
      background-repeat: no-repeat;
      background-position: center;

      @include tablet {
        top: 0;
      }
    }

    &:nth-of-type(1)::before {
      background-color: var(--color-green-ligtht);
      background-image: url("../../assets/img/icon/icon1.svg");
    }

    &:nth-of-type(2)::before {
      background-color: var(--color-blue-ligtht);
      background-image: url("../../assets/img/icon/icon2.svg");
    }

    &:nth-of-type(3)::before {
      background-color: var(--color-yellow-light);
      background-image: url("../../assets/img/icon/icon3.svg");
    }
  }
}
