.cross-button {
  @include reset-button;
  @include square(24px);

  position: relative;
  border-radius: var(--border-radius-small);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: var(--color-light-alt);
    border-radius: 5px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
