.field {
  &__select,
  &__input {
    color: var(--color-light);
    height: var(--input-height);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    background-color: inherit;
    padding-inline: 16px;
    width: 270px;
    border: none;
    outline: none;
    border: 1px solid var(--color-blue-ligtht);
    border-radius: var(--border-radius-mid);
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-light);
  }
}
