.mobile-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 16px;
  border: none;
  background-color: #1a3e3e;

  margin: 0;

  border: none;

  &__close-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    @include flex-center;

    flex-direction: column;
    row-gap: 30px;
    min-height: 80vh;
  }
}
