.section {
  &--p100 {
    padding: 100px 0;

    @include tablet {
      padding: 50px 0;
    }
  }

  &--p80 {
    padding: 80px 0 100px;

    @include tablet {
      padding: 50px 0 10px;
    }

    @include mobile {
      padding: 50px 0 50px;
    }
  }

  &--bg {
    background-image: url(../../assets/img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--dark-ligtht {
    background-color: var(--color-dark-ligtht);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__inner {
    text-align: center;
  }
}
